<footer class="footer" id="footer">
  <div class="container is-fluid">
    <div class="columns">
      <div class="column is-half">
        <h3 class="title is-3">Want to work with us?</h3>
        <div class="buttons">
          <a href="mailto:{{ site.email }}" class="button is-primary is-large">Just say hi</a>
          <!-- <span>or</span>
          <a href="{{ site.contactUrl }}" class="button is-outlined is-large">Request a quote</a> -->
        </div>
      </div>
      <div class="column columns meta-info">
        <div class="column">
          <h5 class="title is-5">OUR APPS</h5>
          {% for app in appLinks %}
          <p><a href="{{ app.link }}">{{ app.title }}</a></p>
          {% endfor %}
        </div>
        <div class="column">
          <h5 class="title is-5">LINKS</h5>
          {% for link in site.additionalLinks %}
          <p><a href="{{ link.url }}">{{ link.title }}</a></p>
          {% endfor %}
        </div>
        <div class="column">
          <h5 class="title is-5">CONTACT</h5>
          <p>{{ site.address }}</p>
          <p><a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
        </div>
      </div>
    </div>
    <hr>
    <div class="level">
      <div class="level-left">
        <p class="level-item">© 2016 Zero To One Labs, LLC All Rights Reserved</p>
      </div>
      <div class="level-right">
        {% for link in site.socialLinks %}
        <a title="{{ link.title }}" href="{{ link.url }}" class="social-link">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-{{ link.icon }} fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        {% endfor %}
      </div>
    </div>
  </div>
</footer>

<script src="/js/bundle.js"></script>
